<!doctype html>
<html lang="en" ng-app="app" ng-controller="myCtrl">
  <head>
    <meta charset="utf-8">
    <title>My HTML File</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.3.1/ui-bootstrap-tpls.js"></script>
	
	<script src="app.js"></script>
  </head>
  <body>
	<button ng-click="buttonClicked()">Show Modal Dialog</button>
	<script type="text/ng-template" id="myModalContent.html">
		<div class="modal-dialog" role="document">
		 <div class="modal-content"> 
			<div class="modal-header">
				<h3 class="modal-title" id="modal-title">My title</h3>
			</div>
			<div class="modal-body" id="modal-body">
				<div class="container-fluid">
					<div class="row">
					  <div class="col-md-4">.col-md-4</div>
					  <div class="col-md-4 ml-auto">.col-md-4 .ml-auto</div>
					</div>
					<div class="row">
					  <div class="col-md-3 ml-auto">.col-md-3 .ml-auto</div>
					  <div class="col-md-2 ml-auto">.col-md-2 .ml-auto</div>
					</div>
				</div> <!-- container-fluid -->
					
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
				<button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
			</div>
			</div> <!-- modal-content -->
		</div> <!-- modal-dialog -->
	</script>
  </body>
</html>
